.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  margin: 0;
}

.footer__column-links:hover {
  opacity: 0.5;
  transition: 0.5s linear;
}
